<h2>My Photo Collections:</h2>
<%= javascript_include_tag "pagination" %>
<div style="float:left;">
	<b><%= link_to 'Add New photo collections', new_photo_collection_path %></b>
</div>
<div style="float:right;margin-right:5px;">
	Logged in as <%= current_user.email %>
	&nbsp; <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
</div>
<div style="clear:both;"></div>
<div id="photo-collections">
	<%= render 'photo_collections' %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".fancybox").fancybox();
    });
</script>
