<div style="float:left;">Name : &nbsp; <%= @photo_collection.name %></div>
<div style="float:right;margin-right:5px;">Created at : &nbsp;<%= @photo_collection.created_at.strftime("%d %b. %Y") %></div>
<div style="clear:both;"></div>
<div>
	Description : &nbsp; <%= @photo_collection.description %>
</div>
<div style="float:right;margin-right:5px;"> 
<% if current_user && current_user.id == @photo_collection.user.id %>
<table>
	<tr>
		<td>
			&nbsp;<%= link_to 'edit',edit_photo_collection_path(@photo_collection.id) %>
		</td>
		<td>
			&nbsp;<%= link_to "Delete", photo_collection_path(@photo_collection.id), :method => :delete, :data => { :confirm => "Are you sure?" } %>
		</td>
	</tr>
</table>
<% end %>
</div>
<div style="clear:both;"></div>
<div>
<ul class="thumbnails">
   <% @photo_collection.attachments.each do |attachment| %>
    <li>
      <%=link_to(cl_image_tag(attachment.file.url(:standard).to_s), attachment.file.url, :data => { :'fancybox-group' => 'gallery' },:rel => "gallery", :class => "fancybox", :width => "150", :height => "121", :title => "#{attachment.name}-#{attachment.created_at.strftime('%d %b. %Y')}") %>
    </li>
   <% end %>
</ul>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".fancybox").fancybox({
		   helpers : { 
		    title : { type : 'inside' }
		   }, // helpers
		   beforeLoad: function() {
		    this.title = $(this.element).attr('title');
		   }
  		}); // fancybox
    });
</script>
